.admin-layout{
    display:flex;
    min-height:100vh;
    background:#f5f7fb;
}

.admin-sidebar{
    width:260px;
    background:#081b33;
    color:white;
    padding:20px;
}

.admin-main{
    flex:1;
    display:flex;
    flex-direction:column;
}

.admin-topbar{
    height:70px;
    background:white;
    border-bottom:1px solid #ddd;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
}

.admin-content{
    flex:1;
    padding:25px;
    overflow:auto;
}