.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topbar-left h2 {
  margin: 0;
  color: #0d47a1;
  font-size: 40px;
  font-weight: bold;
}

.topbar-left p {
  margin: 0;
  color: #666;
  font-size: 15px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.logout-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #c62828;
}