.about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    padding:70px 8%;
    background:#ffffff;
    flex-wrap:wrap;
}

.about-image{
    flex:1.2;
    min-width:320px;
}

.about-image img{
    width:100%;
    max-height:450px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.18);
}
.about-image img{
    transition:0.4s ease;
}

.about-image img:hover{
    transform:scale(1.03);
}
.about-content{
    flex:1;
    min-width:320px;
}

.about-content h2{
    font-size:46px;
    color:#0F4C81;
    margin-bottom:25px;
}
.about-content h2::after{
    content:"";
    display:block;
    width:120px;
    height:5px;
    background:#FDB813;
    margin-top:15px;
    border-radius:10px;
}

.about-content p{
    font-size:20px;
    line-height:1.8;
    color:#444;
    margin-bottom:20px;
}

.about-content ul{
    list-style:none;
    padding:0;
    margin-top:30px;
}

.about-content li{
    font-size:20px;
    margin-bottom:15px;
    color:#222;
}