/* ======================================
   ZORYVA ENERGY GLOBAL STYLES
====================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#F8FAFC;

    color:#1E293B;

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

    display:block;

}

button{

    border:none;

    outline:none;

    cursor:pointer;

    font-family:inherit;

}

ul{

    list-style:none;

}

section{

    padding:90px 8%;

}

.container{

    width:100%;

    max-width:1300px;

    margin:auto;

}