.products{
    padding:100px 8%;
    background:#f8fbff;
    text-align:center;
    overflow-x:hidden;
}

.products h2{
    font-size:48px;
    color:#0F4C81;
    margin-bottom:60px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
    width:100%;
}

.card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
    transition:.4s;
    width:100%;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

.card h3{
    font-size:28px;
    color:#0F4C81;
    margin:20px 0 10px;
}

.card p{
    font-size:17px;
    color:#555;
    line-height:1.7;
    padding:0 20px;
}

.card button{
    margin:25px 0 30px;
    padding:12px 30px;
    background:#FDB813;
    color:#000;
    border:none;
    border-radius:30px;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    background:#0F4C81;
    color:#fff;
}