.products-page {

    min-height: 100vh;

    background: #f5f7fb;
}

.products-hero {

    text-align: center;

    padding: 100px 20px;

    background: linear-gradient(
        135deg,
        #063970,
        #0b6d38
    );

    color: white;
}

.products-hero h1 {

    font-size: 55px;

    margin-bottom: 20px;
}

.products-hero h2 {

    color: #ffd700;

    margin-bottom: 20px;
}

.products-hero p {

    max-width: 800px;

    margin: auto;

    font-size: 22px;

    line-height: 1.8;
}
.products-section {

    max-width: 1200px;

    margin: 80px auto;

    text-align: center;

    padding: 20px;
}

.products-section h2 {

    color: #063970;

    font-size: 40px;

    margin-bottom: 40px;
}

.products-grid {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 25px;
}

.product-card {

    width: 320px;

    background: white;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 5px 18px rgba(
        0,
        0,
        0,
        0.1
    );
}

.product-card h3 {

    color: #0b6d38;

    margin-bottom: 20px;
}

.product-card p {

    color: #555;

    line-height: 1.8;

    margin-bottom: 20px;
}

.product-card span {

    display: inline-block;

    background: #ffd700;

    color: black;

    padding: 8px 18px;

    border-radius: 30px;

    font-weight: bold;

    margin-top: 10px;
}
.product-image {

    width: 100%;

    height: 220px;

    object-fit: cover;

    border-radius: 15px;

    margin-bottom: 20px;
}
.details-btn {

    margin-top: 20px;

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: #063970;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;
}

.details-btn:hover {

    background: #0b6d38;
}