:root{

    --primary:#0F4C81;

    --secondary:#FDB813;

    --white:#ffffff;

    --black:#1E293B;

    --bg:#F8FAFC;

    --transition:.3s ease;

    --radius:10px;

    --shadow:0 10px 30px rgba(0,0,0,.08);

}