.services{
    padding:80px 8%;
    background:#ffffff;
    text-align:center;
}

.services h2{
    font-size:36px;
    color:#0b3d2e;
    margin-bottom:50px;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:25px;
}

.service-card{
    background:#f8f9fa;
    padding:35px 25px;
    border-radius:12px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.service-card:hover{
    transform:translateY(-8px);
}

.service-icon{
    font-size:50px;
    margin-bottom:20px;
}

.service-card h3{
    color:#0b3d2e;
    margin-bottom:15px;
}

.service-card p{
    color:#555;
    line-height:1.7;
}